@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.main-container {
  height: 100vh;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  /* background-color: aquamarine; */
  margin-top: 25px;
  height: 3rem;
  width: 60%;
  font-size: larger;
  font-weight: bolder;
}

.btn-container {
  background-color: lightgray;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  height: 3rem;
  width: 60%;
  /* margin-left: 15rem; */
  border-radius: 0.3rem;
}

.filter-btn {
  width: 33.33%;
  background-color: lightgray;
  font-size: large;
  font-weight: 600;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

/* .filter-btn:hover {
  background-color: rgb(92, 91, 91);
  color: white;
} */

.section-container {
  /* background-color: blueviolet; */
  height: 50%;
  padding: 2rem;
  margin-top: 2rem;
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.single-card {
  height: 100%;
  width: 18%;
  /* background-color: brown; */
}

.badge {
  position: absolute;
  background-color: white;
  padding: 0.5rem 0.2rem;
  width: 5.5rem;
  font-size: x-small;
  text-align: center;
  margin: 0.2rem;
  border-radius: 0.2rem;
  font-weight: 600;
}

.product-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.product-desc {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.product-title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 40%;
  font-weight: 500;
  width: 60%;
}

.vendor {
  font-size: small;
}

.product-price {
  display: flex;
  gap: 1rem;
  font-weight: 500;
}

.actual-price {
  text-decoration: line-through;
  opacity: 0.5;
}

.off {
  color: red;
}

.cart {
  padding: 0.5rem;
  /* margin: 0.2rem; */
  background-color: black;
  padding: 0.6rem 0rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.hide {
  display: none;
}

.background {
  background-color: black;
  color: white;
}

@media (320px <= width <= 767px) {
  .title {
    width: 80%;
    font-size: x-small;
    margin-top: 8px;
  }

  .btn-container {
    width: 85%;
  }

  .section-container {
    flex-wrap: wrap;
    width: 85%;
    height: 450px;
  }

  .single-card {
    height: 640px;
    width: 95%;
  }

  .product-img {
    height: 500px;
  }

  .product-desc {
    row-gap: 1rem;
  }
}

@media (768px <= width <= 1024px) {
  .title {
    margin-top: -325px;
  }
  .section-container {
    flex-wrap: wrap;
  }

  .single-card {
    width: 32%;
    height: 50%;
  }

  .product-img {
    height: 400px;
  }
}
